//Style creation for the app
.movie-card {
    box-shadow: 5px 5px 5px rgba(49, 0, 141, 0.25);
    border-radius: 0.6rem;
    background-color: #1d09f9;
    padding: 0.2rem;
  }
  .movie-info {
    border-style: 5rem;
    margin-bottom: 0.3rem;
    --background: #ffffff;
  }